html body {
    padding: 0;
    margin: 0;
}

.item-user__box {
    border: 1px solid;
    border-radius: 4px 4px 4px 4px;
    height: 200px;
    margin: 10px 10px 10px 10px;
    padding: 0;
}

.item-user__img {
    padding: 10px 0 0 10px;
}

.item-user__name {
    padding: 15px 0 0 5px;
}

.item-user__links {
    padding: 20px 0 50px 0;
}

.item-user__button {
    margin: 30px 10px 20px 10px;
}